


.profesional_projects{
  margin: auto;
}
.dpx-project-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 60px;
}

.ece-profesional-project{
margin-top: 50px;
}

.instrument{
  height: 350px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 4px;
  border-color: whitesmoke;
  border-width: 3px;
  border-style: solid;
}

.magnetic-tweezers{
  height: 350px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: auto; 
  margin-bottom: auto;
  border-radius: 180px;
  background-color: whitesmoke;
  border-color: whitesmoke;
  border-width: 3px;
  border-style: solid;
}