header{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    height: 57px;  
    align-items: center;
}

.left-header{
  background-color: green;
  margin-right: 150px;
  margin-left: 50px;
}

.title-header{
  white-space: nowrap;
}
.right-header{
  width: 450px;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
  flex-shrink: 0;
  margin-right: 50px;
}
.title-box{
  display: grid;
}



.tooltip-container{
  
}
.tooltip-btn{
  height: 30px;
}


body{
  max-width: 1300px;
  min-width: 700px;
  margin: auto;
}

.profile-photo{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.index-page{
  background-color: lightgray ;
}

main{
  background-color: yellow;
  padding-bottom: 50px;
  padding-top: 50px;
  padding: auto;

}

.about-corps{
  display: flex;
  flex-direction: row;
  background-color: blue;
  max-width:700px;
  margin: auto;
}

.description{
  background-color: red;
  padding-left: 30px;
  padding-right: 30px;
  flex: 1;
}
.profile-photo-container{
  height: 300px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

